.no-points {
  list-style-type: none;
  padding: 0;
}

.no-points li {
  margin-bottom: 10px;
}

.list-inline {
  list-style-type: none;
  padding: 0;
}

.list-inline li{
  display: inline;
  padding: 10px; 
}

.list-inline i{
  font-size: 50px;
  color: rgba(230, 230, 230, 1.0);
  transition: 0.5s;
}

.list-inline i:hover{
  color: black;
}